// custom SCSS (or CSS) goes here
.side-bar {
    @include mq(lg) {
        width: 16.5rem;
    }

    & + .main {
        @include mq(lg) {
            margin-left: 16.5rem
        }

        .main {
            margin: auto;

            @include mq(md) {
                position: relative;
                max-width: 100%;
            }
        }
    }
}

.main-content h2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

